@model int

<li class="dropdown notifications-menu menu-item">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell nav-top-userInfo-icon" style="padding-right: 7px;"></i>
        <span class="label label-danger">@Model</span>
    </a>
</li>